/* SIDEBAR SHORTCODE */
.campaign-sidebar-shortcode {
    margin-top: 24px;
}

.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list-item:hover {
    transform: scale(1.05);
}

.campaign-sidebar-shortcode .campaign-sidebar-shortcode_logo-and-title-section {
    display: flex;
    align-items: flex-start;
}

.campaign-sidebar-shortcode .campaign-sidebar-shortcode_logo-and-title-section p {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 700;
    color: #1c2642;
    text-align: left;
    line-height: 1.3;
    margin-bottom: 5px;
}

.campaign-sidebar-shortcode .campaign-sidebar-shortcode_logo-and-title-section a:hover {
    text-decoration: none;
}

.campaign-sidebar-shortcode .campaign-sidebar-shortcode_scores-section {
    color: #1c2642;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
}

.campaign-sidebar-shortcode .campaign-sidebar-shortcode_scores-section .campaign-sidebar-shortcode_scores {
    font-weight: 700;
}

.campaign-sidebar-shortcode .campaign-sidebar-shortcode_scores-section .campaign-sidebar-shortcode_see-more {
    text-decoration: underline;
}

.campaign-sidebar-shortcode .first-item-in-sidebar .campaign-sidebar-shortcode_logo-and-title-section {
    display: block;
    text-align: center;
}

.campaign-sidebar-shortcode .first-item-in-sidebar .campaign-sidebar-shortcode_logo-and-title-section img {
    width: 175px;
    margin: 0;
}

.campaign-sidebar-shortcode .first-item-in-sidebar .campaign-sidebar-shortcode_logo-and-title-section p {
    font-size: 20px;
    text-align: center;
    margin: 12px 0;
}

.campaign-sidebar-shortcode .first-item-in-sidebar .campaign-sidebar-shortcode_scores-section {
    justify-content: center;
}

.campaign-sidebar-shortcode .first-item-in-sidebar .campaign-sidebar-shortcode_scores-section .campaign-sidebar-shortcode_scores {
    font-size: 14px;
}

.campaign-sidebar-shortcode .first-item-in-sidebar .campaign-sidebar-shortcode_scores-section img {
    width: 76px;
}

.campaign-sidebar-shortcode .campaign-list-item_cta-btn {
    padding: 9px 10px;
    display: block;
    width: 100%;
    min-height: 36px;
    height: auto;
    background: #DDF8EE;
    border: 1px solid #DDF8EE;
    border-radius: 44px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #008F60;
    margin-top: 0px;
}


.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list .view_1:first-child {
    border-radius: 6px 6px 0px 0px;
}

.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list .view_1:last-child {
    border-radius: 0px 0px 6px 6px;
}

.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list.ordinals_on {
    counter-reset: heading;
}

.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list {
    box-shadow: 0 3px 15px rgb(0 0 0 / 8%);
}

.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list.default {
    box-shadow: none;
}

.campaign-sidebar-shortcode .view_1 .campaign-sidebar-shortcode_logo-and-title-section.bm-with-counter,
.campaign-sidebar-shortcode .view_2 .campaign-sidebar-shortcode_logo-and-title-section.bm-with-counter,
.campaign-sidebar-shortcode .view_3 .campaign-sidebar-shortcode_logo-and-title-section.bm-with-counter {
    position: relative;
}

.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list.ordinals_on .campaign-sidebar-shortcode_logo-and-title-section.bm-with-counter > a {
    position: relative;
}

.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list.ordinals_on .campaign-sidebar-shortcode_logo-and-title-section.bm-with-counter > a:before {
    counter-increment: heading;
    content: counter(heading);
    background: #E1F4E7;
    border: 2px solid #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: #1C2642;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -8px;
    top: -8px;
    border-radius: 50%;
    padding-top: 2px;
}

.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list-item.view_1,
.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list-item.view_2,
.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list-item.view_3 {
    padding: 16px;
    background-color: #fff;
    display: block;
    margin: 0 0 1px 0;
    text-decoration: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid rgb(0, 0, 0, 8%);
}

.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list-item.view_1:hover,
.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list-item.view_2:hover,
.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list-item.view_3:hover {
    transform: none;
}

.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list-item.view_1 .read_review_url:hover svg,
.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list-item.view_2 .read_review_url:hover svg,
.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list-item.view_3 .read_review_url:hover svg {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}

.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list-item.view_1 .read_review_url svg,
.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list-item.view_2 .read_review_url svg,
.campaign-sidebar-shortcode .campaign-sidebar-shortcode_list-item.view_3 .read_review_url svg {
    -webkit-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.campaign-sidebar-shortcode .view_3 .campaign-sidebar-shortcode_logo-and-title-section {
    align-items: center;
}

.campaign-sidebar-shortcode .view_1 .campaign-sidebar-shortcode_logo-and-title-section img,
.campaign-sidebar-shortcode .view_2 .campaign-sidebar-shortcode_logo-and-title-section img,
.campaign-sidebar-shortcode .view_3 .campaign-sidebar-shortcode_logo-and-title-section img {
    width: 83px;
    height: 40px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-right: 16px;
    float: left;
}

.campaign-sidebar-shortcode .view_1 .campaign-sidebar-shortcode_scores-section .rating,
.campaign-sidebar-shortcode .view_2 .campaign-sidebar-shortcode_scores-section .rating,
.campaign-sidebar-shortcode .view_3 .campaign-sidebar-shortcode_scores-section .rating {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    width: 84px;
    line-height: 16px;
    text-align: left;
    color: #1C2642;
}

.campaign-sidebar-shortcode .view_1 .campaign__updated_date_wrapper,
.campaign-sidebar-shortcode .view_3 .campaign__updated_date_wrapper {
    grid-area: none;
    display: block;
    margin-top: 0px;
}

.campaign-sidebar-shortcode .view_1 .campaign__updated_date_text,
.campaign-sidebar-shortcode .view_3 .campaign__updated_date_text {
    margin-left: 4px;
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;
    color: #A69996;
}

.campaign-sidebar-shortcode .view_1 .campaign-sidebar-shortcode_scores,
.campaign-sidebar-shortcode .view_2 .campaign-sidebar-shortcode_scores,
.campaign-sidebar-shortcode .view_3 .campaign-sidebar-shortcode_scores {
    width: 83px;
    margin-right: 16px;
}

.campaign-sidebar-shortcode .view_1 .campaign-sidebar-shortcode_scores-section img,
.campaign-sidebar-shortcode .view_2 .campaign-sidebar-shortcode_scores-section img,
.campaign-sidebar-shortcode .view_3 .campaign-sidebar-shortcode_scores-section img {
    margin-right: 0;
    width: 60px;
    height: 12px;
    margin-left: 5px;
    margin-bottom: -1px;
    vertical-align: baseline;
    display: inline-block;
}

.campaign-sidebar-shortcode .view_1 .read_review_url {
    text-align: right;
}

.campaign-sidebar-shortcode_list .view_2.extra_width .campaign-sidebar-shortcode_logo-and-title-section a {
    width: 100%;
}

.campaign-sidebar-shortcode .view_1 .read_review_url a,
.campaign-sidebar-shortcode .view_2 .read_review_url a,
.campaign-sidebar-shortcode .view_3 .read_review_url a,
.campaign-sidebar-shortcode .view_1 .campaign-sidebar-shortcode_see-more,
.campaign-sidebar-shortcode .view_2 .campaign-sidebar-shortcode_see-more,
.campaign-sidebar-shortcode .view_3 .campaign-sidebar-shortcode_see-more {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    vertical-align: middle;
    color: #1C2642;
    margin-right: 6px;
}

.campaign-sidebar-shortcode .view_1 .date_and_link,
.campaign-sidebar-shortcode .view_3 .date_and_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 103px);
}

.campaign-sidebar-shortcode .view_2 .date_and_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 93px);
}

.campaign-sidebar-shortcode .view_3 .cta-button {
    width: calc(100% - 83px);
}

.campaign-sidebar-shortcode .view_3 .campaign-sidebar-shortcode_scores-section {
    margin-top: 4px;
}

.campaign-sidebar-shortcode .align_to_right {
    justify-content: flex-end !important;
}

.campaign-sidebar-shortcode .campaign-sidebar-shortcode_logo-and-title-section.align_to_right {
    justify-content: space-between !important;
}

.campaign-sidebar-shortcode .widget-title {
    font-size: 20px !important;
}

@media screen and (max-width: 992px) {
    .campaign-sidebar-shortcode .slick-list .campaign-sidebar-shortcode_list-item.view_1,
    .campaign-sidebar-shortcode .slick-list .campaign-sidebar-shortcode_list-item.view_2,
    .campaign-sidebar-shortcode .slick-list .campaign-sidebar-shortcode_list-item.view_3 {
        border-bottom: none;
    }
}
