<div class="metadata-section {{NO-DATA-ABOUT-OFFER-CLASS-SLOT}}" style="display: none">
    <div class="metadata-section_1">
        <div class="metadata-min-deposit">{{MINIMAL-DEPOSIT-SLOT}}</div>
        <div class="metadata-deposit-method">{{MIN-DEPOSIT-METHOD-SLOT}}</div>
        <div class="metadata-regulated">{{REGULATED-BY-SLOT}}</div>
        {{LICENSE-SLOT}}
    </div>
    {{DESCRIPTION-SLOT}}
    {{GALLERY-SLOT}}
    <div class="metadata-section_4" {{NO-CONTACT-DATA-STYLE-SLOT}}> {{NO-DATA-ABOUT-OFFER-NOTICE-SLOT}}
        <div class="metadata_website">{{WEBSITE-SLOT}}</div>
        <div class="metadata_owner">{{OWNER-SLOT}}</div>
        <div class="metadata_founded">{{FOUNDED-SLOT}}</div>
        <div class="metadata_headquarter">{{HEADQUARTER-SLOT}}</div>
    </div>
    <div class="metadata-section_5">{{PROFILE-LINK-SLOT}}</div>
</div>
