<div id="popup_offers" style="display: none;" {{META-DATA}}>
    <div class="popup-offers-widget offers_{{COUNT-OFFERS-SLOT}}">
        <button class="close_popup_round">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 6L6 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6 6L18 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
        <div class="popup-offers-widget_title">
            {{TITLE-SLOT}}
        </div>
        <div class="popup-offers-widget_subtitle">
            {{SUBTITLE-SLOT}}
        </div>
        <div class="popup-offers-widget_list cnt_offers_{{COUNT-OFFERS-SLOT}}">
            {{POPUP-OFFERS-SLOT}}
        </div>
    </div>
    <div class="popup-offers-overlay"></div>
</div>
