<div class="popup-offers-widget_tile {{HIGHLIGHT-CLASS}}" {{META-DATA}}>
    <div class="toppike-out">
        {{HIGHLIGHT-SLOT}}
    </div>
    <div class="popup-offers-widget_logo-scores-section">
        <div class="brand-logo">
            <a href="{{REFERRAL-LINK-SLOT}}" class="popup-offers-widget_brand-logo-link" {{VISIT-LINK-ATTRIBUTES}}>
                <img src="{{BRAND-LOGO-SRC-SLOT}}" alt="{{BRAND-NAME-SLOT}} Logo" class="popup-offers-widget_brand-logo">
            </a>
        </div>
        <div class="popup-offers-widget_scores-section">
            <div class="scores-section">
                <span>{{BRAND-SCORES-SLOT}}</span>
                {{BRAND-RATING-IMG-SLOT}}
                {{READ-REVIEW-LINK-SLOT}}
            </div>
            <div class="h3 mobile">
                {{TILE-TITLE-SLOT}}
            </div>
        </div>
    </div>
    <div class="popup-offers-widget_texts-section">
        {{TILE-TITLE-SLOT}}
    </div>
    {{BRAND-PRINCIPALES-SLOT}}
    <div class="bottom-code">
        <div class="popup-offers-widget__brand-coupon {{NO-COUPON-SLOT}}">
            <span>{{COPIED-TEXT-SLOT}}</span>
            <input type="text" value="{{COUPON-SLOT}}" readonly>
            <button></button>
            <div>{{COPY-TEXT-SLOT}}</div>
        </div>
        <a href="{{REFERRAL-LINK-SLOT}}" class="popup-offers-widget__cta-btn" {{VISIT-LINK-ATTRIBUTES}}>
            {{CALL-TO-ACTION-BTN-TEXT-SLOT}}
        </a>
    </div>
    <div class="popup-offer-terms-slot">
        <span>{{OFFER-TERMS-SLOT}}</span>
        <div>
            {{OFFER-TERMS-SLOT}}
        </div>
    </div>
</div>
