<div class="bm-cmprs-tbl no-far-right-position bm-cmprs-tbl_not-ready" {{META-DATA}}>
    {{HIDDEN-TABLE}}
    <div class="bm-cmprs-tbl_headers">
        <div class="bm-cmprs-tbl_cover-cell"></div>
        <div class="bm-cmprs-tbl_prev-btn"></div>
        <div class="bm-cmprs-tbl_next-btn"></div>
        <div class="bm-cmprs-tbl_right-shadow"></div>
        <div class="bm-cmprs-tbl_left-shadow"></div>
        <div class="bm-cmprs-tbl_headers-scroller">
            <div class="bm-cmprs-tbl_header-cell bm-cmprs-tbl_empty-header-cell"></div>
            {{TABLE-HEADER}}
            <div class="bm-cmprs-tbl_header-cell bm-cmprs-tbl_header-cell_select bm-cmprs-tbl_bold bm-cmprs-tbl_if-deleted">
                <select>
                    <option value="select">{{SELECT-TEXT-SLOT}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="bm-cmprs-tbl_body">
        <div class="bm-cmprs-tbl_right-shadow"></div>
        <div class="bm-cmprs-tbl_left-shadow"></div>
        {{RATING-ROW}}
        {{TABLE-BODY}}
    </div>
</div>
