<div class="bm-cmprs-tbl_header-cell" data-brand-id="{{BRAND-ID-SLOT}}" data-brand-name="{{BRAND-NAME-SLOT}}" {{META-DATA}}>
    <div class="bm-cmprs-tbl_label-section">
        {{HIGHLIGHTED-LABEL}}
        <button class="close-btn"></button>
    </div>
    <a href="{{VISIT-LINK}}" class="bm-cmprs-tbl_logo" {{VISIT-LINK-ATTRIBUTES}}>
        <img src="{{LOGO-SRC-SLOT}}" alt="{{BRAND-NAME-SLOT}} Logo">
    </a>
    <h6 class="bm-cmprs-tbl_brand-title">
        {{BRAND-TITLE-SLOT}}
    </h6>
    <a href="{{VISIT-LINK}}" class="bm-cmprs-tbl_cta-btn" {{VISIT-LINK-ATTRIBUTES}}>
        {{VISIT-NOW-TEXT}}
    </a>
    <p class="bm-cmprs-tbl_brand-desc" data-text="{{DISCLAIMER-SLOT}}">
        {{TRIMMED-DISCLAIMER-SLOT}}
    </p>
</div>
