<div class="campaign-full-width_sort-desktop-select">
    <div class="campaign-shortcode_desktop-select-window custom-select-background">
        {{ TEXT_SORT_BY }}
    </div>
    <div class="campaign-shortcode_desktop-select-dropdown" style="display: none;">
        <div class="desktop-select-item" data-value="bestrated">{{ TEXT_BEST_RATED }}</div>
        <div class="desktop-select-item" data-value="newest">{{ TEXT_NEWEST }}</div>
    </div>
</div>
<select class="campaign-full-width_sort-mobile-select custom-select-background">
    <option value="" selected disabled hidden>{{ TEXT_SORT_BY }}</option>
    <option value="bestrated">{{ TEXT_BEST_RATED }}</option>
    <option value="newest">{{ TEXT_NEWEST }}</option>
</select>
