<div class="campaign-sidebar-shortcode_list-item customlink_plugin customlink view_2 {{ CLASS_BRANDS_COUNTER }} extra_width" {{ META-DATA }}>
    <div class="campaign-sidebar-shortcode_logo-and-title-section {{ SHOW_COUNTER }}">
        <a  data-url="{{ GOOGLE_CONVERSION_URL }}" href="{{ REFERRAL_URL }}" {{ VISIT-LINK-ATTRIBUTES }}>
        <img class="attachment-small size-small wp-post-image" src="{{ BRAND_LOGO }}" alt="{{BRAND-NAME-SLOT}} Logo"
             width="130" height="63">
        {{ NEW_CUSTOMER }}
        </a>
    </div>

    <div class="campaign-sidebar-shortcode_scores-section">
        <div class="campaign-sidebar-shortcode_scores">
            <div class="rating">{{ SCORE }}{{ STAR_RATING }}</div>
            <div class="link">{{ REVIEW_LINK }}</div>
        </div>
        <div class="date_and_link {{ CTA_BUTTON_CLASS }}">{{ CTA_BUTTON }}</div>
    </div>
</div>
