<div class="campaign-sidebar-shortcode_list-item customlink_plugin customlink view_1 {{ CLASS_BRANDS_COUNTER }}" {{ META-DATA }}>
    <div class="campaign-sidebar-shortcode_logo-and-title-section {{ SHOW_COUNTER }}">
       <a data-url="{{ GOOGLE_CONVERSION_URL }}" href="{{ REFERRAL_URL }}" {{ VISIT-LINK-ATTRIBUTES }}>
        <img class="attachment-small size-small wp-post-image" src="{{ BRAND_LOGO }}" alt="{{BRAND-NAME-SLOT}} Logo"
             width="130" height="63">
        {{ NEW_CUSTOMER }}
       </a>
    </div>
    <div class="campaign-sidebar-shortcode_scores-section">
        <span class="campaign-sidebar-shortcode_scores">{{ SCORE }}{{ STAR_RATING }}</span>
        <div class="date_and_link">
            <div class="date">{{ UPDATED_DATE }}</div>
            {{ REVIEW_LINK }}
        </div>
    </div>
</div>
