<div class="single-brand-shortcode">
    {{TOP-PICKER-SLOT}}

    <a class="single-brand-logo" href="{{REFERRAL-URL-SLOT}}" target="_blank" rel="nofollow">
        <img class="attachment-small size-small wp-post-image" src="{{BRAND-LOGO-IMG-SRC-SLOT}}"
             alt="{{BRAND-NAME-SLOT}} Logo" width="130" height="63"/>
    </a>

    <div class="single-brand-key-features">
        {{NEW-CUSTOMER-SLOT}}
        {{PRINCIPALES-LIST-SLOT}}
    </div>

    <div class="single-brand-scores">
        <samp>{{SCORE-SLOT}}</samp>
        {{STAR-RATING-IMG-SLOT}}
        <a class="customlink_plugin customlink" data-url="{{GOOGLE-CONVERSION-URL-SLOT}}"
           href="{{REFERRAL-URL-SLOT}}" onclick="this.preventDefault();" rel="nofollow">
            {{CLAIM-OFFER-TEXT-SLOT}}
        </a>
    </div>
</div>
