<div class="campaign-shortcode-table {{ CAMPAIGN_VOTING_TABLE_CLASS }} {{ REQUIRE_AJAX_LOADING_CLASS }} {{ IP_GEO_FILTERS_CLASS }}"
     data-id="{{ID-SLOT}}" {{ CAMPAIGN_ATTS }} {{META-DATA}}>
    <div class="campaign-shortcode_title-section">
        {{TABLE-TITLE-SLOT}}
    </div>
    {{FILTERS-SECTION-SLOT}}
    <div class="campaign-shortcode-table_offers-list campaign__voting_list" data-offers-count="{{ OFFERS_COUNT }}">
        {{OFFERS-LIST-SLOT}}
        {{ SHOW_MORE_BTN }}
    </div>
</div>
