<a class="campaign-shortcode-grid-item" href="{{REFERRAL_URL-SLOT}}" {{LINK-ATTRIBUTES-SLOT-DATA}}
   style="display: none" {{META-DATA}}>
    <div class="logo-and-title-section">
        <img class="attachment-small size-small wp-post-image" src="{{BRAND-LOGO-IMG-SRC-SLOT}}"
             alt="{{BRAND-NAME-SLOT}} Logo" width="130" height="63"/>
    </div>
    <div class="campaign-shortcode_title-section">{{NEW-CUSTOMER-SLOT-DATA}}</div>
    <div class="scores-section">
        <samp>{{SCORE-SLOT}}</samp>
        {{RATING-IMG-SLOT}}
    </div>
    {{ UPDATED_DATE_SLOT }}
    <div class="btn-section">
        <span>{{CLAIM-OFFER-TEXT-SLOT}}</span>
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.99998 12L9.99998 8L5.99998 4" stroke="#1C2642" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
</a>
