<div class="recommended-offers-widget_tile" {{META-DATA}}>
    <div class="recommended-offers-widget_tile-content-wrapper">
        <div class="recommended-offers-widget_logo-scores-section">
            <a href="{{REFERRAL-LINK-SLOT}}" class="recommended-offers-widget_brand-logo-link" {{VISIT-LINK-ATTRIBUTES}}><img src="{{BRAND-LOGO-SRC-SLOT}}" alt="{{BRAND-NAME-SLOT}} Logo" class="recommended-offers-widget_brand-logo"></a>
            <div class="recommended-offers-widget_scores-section">
                <span>{{BRAND-SCORES-SLOT}}</span>
                {{BRAND-RATING-IMG-SLOT}}
            </div>
        </div>
        <div class="recommended-offers-widget_texts-section">
            {{READ-REVIEW-LINK-SLOT}}
            <h3>{{TILE-TITLE-SLOT}}</h3>
            <span>{{CUTTED-OFFER-TERMS-SLOT}}</span>
            <div>{{OFFER-TERMS-SLOT}}</div>
        </div>
        <a href="{{REFERRAL-LINK-SLOT}}" class="recommended-offers-widget_link-section" {{VISIT-LINK-ATTRIBUTES}}>
            <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.66699 13L7.66699 7L1.66699 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>
    </div>
</div>
