<div class="campaign-list-item {{IS-NOT-FIRST-ITEM-CLASS-SLOT}} {{CATEGORIES-TAG-SLOT}}"
     data-rated="{{SCORE-SLOT}}"
     date-new="{{DATE-SLOT}}"
     data-position="{{ BASIC_POSITION }}"
     data-id="{{ID-SLOT}}"
     {{META-DATA}}
>

    {{TOP-PICKER-DATA-SLOT}}

    <a class="campaign-list-item_logo {{SHOW-COUNTER}}" href="{{REFERRAL-URL-SLOT}}" {{LINK-ATTRIBUTES-SLOT-DATA}}>
        <img class="attachment-small size-small wp-post-image" src="{{BRAND-LOGO-IMG-SRC-SLOT}}"
             alt="{{BRAND-NAME-SLOT}} Logo" width="130" height="63"/>
    </a>

    <div class="campaign-list-item_key-features mobile">
        {{NEW-CUSTOMER-SLOT-DATA}}
    </div>

    {{ UPDATED_DATE_SLOT }}

    <div class="campaign-list-item_key-features">
        {{NEW-CUSTOMER-SLOT-DATA}}
        {{PRINCIPALES-LIST-SLOT}}
    </div>

    <div class="campaign-list-item_scores">
        <div class="campaign_list_item__score_text">{{SCORE-SLOT}}</div>
        {{RATING-IMG-SLOT}}
        {{READ-REVIEW-URL-SLOT}}
    </div>

    {{COUPON-CODE-TOOLTIP-SLOT}}
    <div class="campaign-list-item_coupon">
        {{COUPON-CODE-SLOT}}
    </div>

    <a class="campaign-list-item_cta-btn {{NO_COUPON}}" title="" data-url="{{GOOGLE-CONVERSION-URL-SLOT}}"
       href="{{REFERRAL-URL-SLOT}}" {{LINK-ATTRIBUTES-SLOT-DATA}}>
        {{CALL-TO-ACTION-BTN-TEXT-SLOT}}
    </a>

    <div class="campaign-list-item_more-btns">
        <div class="campaign-list-item_open-more-btn {{SHOW-MORE-BUTTON-CLASS}}">{{LEARN-MORE-TEXT-SLOT}}</div>
        <div style="display: none;" class="campaign-list-item_close-more-btn">{{CLOSE-LEARN-MORE-TEXT-SLOT}}</div>
    </div>

    {{ VOTING_SECTION }}

    {{BOTTOM-TEXT-SLOT}}
    {{METADATA-BLOCK-SLOT}}
</div>
